[database.development]
host=forge.outgoing.local
port=3306
dbname=kbf
user=root
password=urexones

[pacman.development]
host=PACMAN_HOST
client_id=44
protocol=http://
port=80

[gtm.development]
container_id=
